body {
	font-family: 'Montserrat', sans-serif;
}

header {
    background: #000000;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #3e474e;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #e4c278;
}

.menu-main{
    background: linear-gradient(#888888, #fefefe);
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #3e474e;
    border-radius: 10px;

}
.produtos li:hover {
    border-color: #b7492b;
}

.produtos li:active {
    border-color: #5ab675;
}

.produtos li:hover h2{
    font-size: 35px;
    color: #b7492b;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
    font-weight: bold;
}

.produto-preco {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.tabela {
    background-color: white;
    margin: 0 10px;
}

.dia {
    font-weight: bold;
}

.horario {
    font-weight: bold;
}


.copyright {
    color: #000000;
    font-size: 13px;
    margin: 20px 0 0;
    font-weight: bold;
}



form {
    margin: 40px 0;/* Altera as margens de um elemento(seja texto ou um botão) */
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}


.corpo_site {
    padding: 20px 0;
    font-weight: bold;
    margin: 0 0 10px;
    background: linear-gradient(#888888, #fefefe);
}

.titulo-input {
    margin: 0 10px;
    background-color: rebeccapurple;
    
}

.titulo-input: legend {
    margin: 0 10px;
    background-color: rebeccapurple;
}

.input-padrao {
    display: block;
    margin: 0 10px 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 10px;
}

.enviar{
    width: 40%; /* Altera as dimensões de um elemento(seja texto ou um botão) */
    padding: 15px 0; /* Altera o espaço(espaçamento) de um elemento */
    background: #e4c278; /* Muda a cor de fundo de um elemento */
    color: #3e474e; /* Muda a cor de um elemento(fonte) */
    font-weight: bold; /* Coloca a fonte em um botão, (nesse caso Negrito) */
    font-size: 20px; /* Altera o tamanho de uma fonte */
    border: none; /* tira a borda de um elemento */
    border-radius: 5px; /* Arredonda a borda */
    transition: 1s all; /* Adiciona tempo para mudança de algum elemento */
    cursor: pointer; /* Colocar mãozinha quando passa por cima */
    margin: 0 60px;
}

.enviar:hover { /* Comando HOVER é para alterarmos um elemento quando é passado o mouse por cima */
    background: #b7492b;
    transform: scale(1.2); /* O 'transform' altera todo o elemento nesse caso, aumentamos o botao enviar em 20%*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #3e474e;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
