@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  transition: 0.4s;
}

body {
  background-color: rgb(219, 219, 219);
}
#reset {
  width: 60px;
  height: 60px;
}

#reset img {
  width: 50px;
  height: 50px;
}

#login{
  display: flow-root;
  padding: 30px;
  justify-content: center;
  margin-left: 40%;
}

button img{
  width: 150px;
  height: 150px;
}

button:hover {
  border-radius: 20px;
  border-color: rgb(255, 102, 0);
  border-style: inset;
}
button img:hover {
  border-radius: 20px;
  border-style: inset;
}


h1 {
  display: flow-root;
  font-size: 60px;
  padding: .5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: rgb(223, 223, 223);
  padding-left: 40%;
}
h2 {
  display: flow-root;
  padding: .5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: rgb(223, 223, 223);
  padding-left: 40%;
}

form{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
}

form label {
  color: aliceblue;
  font-size: 18px;
}

form input:hover {
  font-size: 20px;
}

.corpo {
  background-color: rgba(83, 83, 83, 0.445);
}
.corpo h1, h2{ 
  background-image: url("https://media.istockphoto.com/photos/burning-embers-glowing-fire-glowing-particles-on-black-background-picture-id1328085467?b=1&k=20&m=1328085467&s=170667a&w=0&h=raEavWem4UQbA36TvhWWfZjGkwUVqUbqz2YPheiqm38=");
  color: rgb(255, 81, 0);
  border-color: rgba(95, 95, 95, 0.829);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 10%;
  box-sizing: border-box;
}

.card {
  background-color: rgb(61, 61, 61);
  width:30em;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid rgb(255, 0, 0);
}

.container img {
  max-width:430px;
  max-height:430px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.container h3 {
  font-size: 1em;
  margin-bottom: .2em;
}

.container img:hover {
  transform: scale(1.03);
  opacity: 70%;
  transition: all 1.8s cubic-bezier(.19, 1, .22, 1);
}


.container .card p{
  color: rgb(230, 230, 230);
}

/* ------------------------------ Estilos para o tema escuro (Dark-Mode) ----------------------------------------------- */

/* Os seguintes estilos são os que usaremos para aplicar o modo escuro, 
você terá que modificar os seletores a fim de poder resolver o exercício. /* 

// A cor de fundo 
{
  background-color: rgb(39, 39, 39);
}

// Modificações no titulo 'A família dos felinos'

.dark h1{ 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}


// Modificações nos items
{
  background-color: rgb(19, 19, 19);
  border-color: black;
}

// Modificações nos textos dos itens e cabeçalhos dos itens
{
  color: rgb(230, 230, 230);
}
*/